<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain Tumor Classification Using Deep Learning</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body style="background-color: #FFF8D6; background-image: url('pexels-chokniti-khongchum-2280547.jpg');font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">
    <nav class="navbar " style="background-color: #0C134F;">
        <div class="container" >
           
            <a class="navbar-brand" href="#" style="color:#FFF7D4; margin-left: auto;
            margin-right: auto;
            " > <h1>Medical Image Analysis  </h1> </a>
        
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
<footer style="margin-left: auto;
margin-right: auto; text-align: center;
 width: 100%; padding-top:20vh; color:#617A55;
">
   <p >Project BY:-  <br> 
       
        Utkarsh Tripathi </br>
        <br>Ankit guleria </br>
        <br>Amit sharma</br>
        <br>Sidharth soni</br>
 
   </p>
   <p>
     Submitted to:- Prof.Gagandeep Kaur Ma'am
   <p> -<br> </br>
       <br> </br>

    <p ><a href="mailto:20bcs1729@cuchd.in">Contact Us</a></p>
  </footer>


</html>




